# Q.3.1

In [2]:
f=eval(input("Enter the temperature in Fahrenheit: ")) 
c=(f - 32) * 5 / 9
print("The temperature in Celsius is:",c,"C")

Enter the temperature in Fahrenheit: 85
The temperature in Celsius is: 29.444444444444443 C

# Q.3.2

In [4]:
age=eval(input("Enter the age"))
if age>62:
    print("You can get your pension benefits!")

Enter the age65
You can get your pension benefits!

In [8]:
name=str(input("Enter the name"))
if name==['Musial','Aaron','Williams','Gehrig','Ruth']:
    print("One of the top 5 baseball players, ever!")

Enter the namemusial aaron williams gehrig ruth

In [9]:
hits=eval(input("Enter the num"))
shield=0
if hits>10 and shield==0:
    print("You are dead ...")

Enter the num12
You are dead ...

In [14]:
a=("north","east","west","south")
if  "north" or "south" or "east" or "west":
    print("I can escape.")

I can escape.

# Q.3.3

In [16]:
year=16
if year%4==0:
    print("Could  be a leap year.")
else:
    print("Definitely not a leap year.")

Could  be a leap year.

In [17]:
ticket=(1,2,3,4)
lottery=(1,2,3,4)
if ticket==lottery:
    print("You Won!")
else:
    print("Better luck nnext time...")

You Won!

# Q.3.4

In [19]:
a=('Joe','ameen','saad','Sophie','Wassay')
x=input("Enter your login id: ")
if x in a:
    print("You are in!")
else:
    print("User unknown")
print("Done")

Enter your login id: ameen
You are in!
Done

# Q.3.5

In [20]:
words_list=[]
for i in range(0, 5):
    a=input('Please enter a word: ') 
    words_list.append(a)
for word in words_list:   
    print(word)

Please enter a word: sky
Please enter a word: stop
Please enter a word: stay
Please enter a word: leave
Please enter a word: play
sky
stop
stay
leave
play

# Q.3.6

In [21]:
for x in range(0,10):
    print(x)
for y in range(0,2):
    print(y)

0
1
2
3
4
5
6
7
8
9
0
1

# Q.3.7

In [22]:
for a in range(3,13):
    print(a)

3
4
5
6
7
8
9
10
11
12

In [23]:
for b in range(0,9,2):
    print(b)

0
2
4
6
8

In [24]:
for b in range(0,9,2):
    print(b)

0
2
4
6
8

In [25]:
for d in range(0,12,5):
    print(d)

0
5
10

# Q.3.8

In [3]:
import math
def perimeter(radius):
    return(2*(math.pi)*radius)
print(perimeter(1))

6.283185307179586

In [4]:
import math
def perimeter(radius):
    return(2*(math.pi)*radius)
print(perimeter(2))

12.566370614359172

# Q.3.9

In [5]:
def average(x,y):
    return (x+y)/2
print(average(1,3))

2.0

In [6]:
def average(x,y):
    return (x+y)/2
print(average(2,3.5))

2.75

# Q.3.10

In [7]:
def novowels(s):
    for c in s:
        if c in "aeiouAEIOU":
           print("true")
        else:
            print("false")
    return s
print(novowels("ameenullah"))

true
false
true
true
false
true
false
false
true
false
ameenullah

# Q.3.11

In [9]:
def alleven(a):
    for x in a:
        if x%2 !=0:
            print("false")
        else:
            print("true")
    return""
print(alleven([1,6,7,2,5]))

false
true
false
true
false

# Q.3.12

In [11]:
def negatives(lst):
    for i in lst:
        if i<0:
            print(i)
    return ""
print(negatives([1,2,-3,-4,-2]))

-3
-4
-2

# Q.3.13

In [32]:
def average(n1, n2):
    'Calculates and return average of 2 numbers n1 and n2.'
    avg = (n1 + n2) / 2
    return avg
print(average(5,9))

7.0

In [33]:
def negatives(list):
    'prints all negative numbers in list list one in a line.'
    for x in list:
         if x < 0:
            print(x)
print(negatives([4,0,-1,-3,6,-9]))

-1
-3
-9
None

# Q.3.14

In [34]:
a=[5,6,7]
b=a
print(b)
a=3
print(a)

[5, 6, 7]
3

In [35]:
a=6
b=3
a,b=b,a
print(a)
print(b)

3
6

# Q.3.15

In [36]:
team=["Ava","Elenor","clare","sarah"]
team[0],team[-1] = team[-1],team[0]
print(team)

['sarah', 'Elenor', 'clare', 'Ava']

In [37]:
def h(lst):
    lst[0]=5
    return lst
mylst=[3,6,9,12]
print(h(mylst))

[5, 6, 9, 12]

# Q.3.16

In [38]:
def swap(team):
    team[0],team[-1] = team[-1],team[0]
    return""
ingredients=["flour","sugar","butter","apples"]
print(swap(ingredients))
print(ingredients)

['apples', 'sugar', 'butter', 'flour']

# Exercises (Book)

# Q.3.17

In [13]:
a=eval('2 * 3 + 1')
print(a)

7

In [14]:
b=eval('hello')
print(b)

NameError: name 'hello' is not defined

In [15]:
c=eval("'Hello'+' '+'world!'")
print(c)

Hello world!

In [16]:
d=eval("'ASCII'.count('I')")
print(d)

2

In [17]:
e=eval('x = 5')
print(e)

SyntaxError: invalid syntax (<string>, line 1)

# Q.3.18

In [19]:
a, b, c = 3, 4, 5
if a<b:
    print("OK")
elif c<b:
    print("OK")
elif a+b==c:
    print("Ok")
elif (a**2)+(b**2)==(c**2):
    print("OK")

OK

# Q.3.19

In [20]:
a, b, c = 3, 4, 5
#3.18(a)
if a<b:
    print("OK")
else:
    print("Not OK")
if c<b:
    print("OK")
else:
    print("Not OK")
if a+b==c:
    print("Ok")
else:
    print("Not OK")
if (a**2)+(b**2)==(c**2):
    print("OK")
else:
    print("Not OK")

OK
Not OK
Not OK
OK

# Q.3.20

In [21]:
months=['January','February','March']
for a in months:
    print(a[0],a[1],a[2])

J a n
F e b
M a r

# Q.3.21

In [22]:
lst=[2,3,4,5,6,7,8,9]
for x in lst:
    if x%2==0:
        print(x)

2
4
6
8

# Q.3.22

In [23]:
lst=[2,3,4,5,6,7,8,9]
for y in lst:
    if (y**2)%8==0:
        print(y)

4
8

# Q.3.23

In [24]:
for a in range(0,2):
    print(a)

0
1

In [25]:
for b in range(0,1):
    print(b)

0

In [26]:
for c in range(3,7):
    print(c)

3
4
5
6

In [27]:
for d in range(1,2):
    print(d)

1

In [28]:
for e in range(0,4,3):
    print(e)

0
3

In [29]:
for  f in range(5,22,4):
    print(f)

5
9
13
17
21

# Q.3.24

In [1]:
lst=["cia","secret","mi6","lsi"]
for word in lst:
    if word != "secret":
        print(word)

cia
mi6
lsi

# Q.3.25

In [5]:
lst = str(input("Enter list: " ))
for word in lst:
    if word[0] >= "A" and word[0] <= "M":
        print(word)

Enter list: Ellie,Gavin,Sam,Steven
E
G

# Q.3.26

In [6]:
list = eval(input("Enter a list: " ))
print("The first list element is",list[0])
print("The last list element is",list[-1])

Enter a list: 3,4,5,7,9,5,4,8
The first list element is 3
The last list element is 8

# Q.3.27

In [7]:
number = eval(input("Enter n: " ))
for i in range(number):
    print(i*i)

Enter n: 10
0
1
4
9
16
25
36
49
64
81

# Q.3.29

In [16]:
number = eval(input("Enter n: " ))
for i in range(1,number+1):
    if(number%i==0):
        print(i)

Enter n: 36
1
2
3
4
6
9
12
18
36

# Q.3.30

In [18]:
n1 = eval(input("Enter first number: " ))
n2 = eval(input("Enter second number: " ))
n3 = eval(input("Enter third number: " ))
n4 = eval(input("Enter last number: " ))
if (n1+n2+n3)/3 == n4:
    print("Equal")

Enter first number: 2
Enter second number: 3
Enter third number: 4
Enter last number: 3
Equal

# Q.3.31

In [19]:
x = eval(input("Enter x: " ))
y = eval(input("Enter y: " ))
if x**2+y**2 < 8**2:
    print("It is in!")

Enter x: 2.5
Enter y: 4
It is in!

# Q.3.33

In [25]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("goodbye"))

eybdoog

# Q.3.34

In [26]:
def pay(wage,hours):
    payment = 0
    if(hours > 40):
        payment = payment + (hours-40)*wage*1.5
        payment = payment + (40)*wage
    else:
        payment = payment + hours*wage
    return payment
print(pay(10,35))
print(pay(10,45))

350
475.0

# Q.3.35

In [27]:
def prob(n):
    return 2**(-n)
print(prob(1))
print(prob(2))

0.5
0.25

# Q.3.36

In [28]:
def reverse_int(n):
    x=0
    while(n!=0):
        x*=10
        x+=n%10
        n=n//10
    return x
print(reverse_int(123))
print(reverse_int(908))

321
809

# Q.3.37

In [32]:
import math
def points(x1,y1,x2,y2):
    distance = str(math.sqrt((x1-x2)**2+(y1-y2)**2))
    if(x1==x2):
        slope = "infinity"
    else:
        slope = str((y2-y1)/(x2-x1))
    print("The slope is "+slope+" and the distance is "+distance)
print(points(3,0,4,1))
print(points(0,3,0,1))

The slope is 1.0 and the distance is 1.4142135623730951
None
The slope is infinity and the distance is 2.0
None

# Q.3.38

In [33]:
def abbre(day):
    if(day == "Monday"):
        return "Mon"
    elif(day == "Tuesday"):
        return "Tu"
    elif(day == "Wednesday"):
        return "Wed"
    elif(day == "Thursday"):
        return "Th"
    elif(day == "Friday"):
         return "Fri"
    elif(day == "Saturday"):
        return "Sat"
    elif(day == "Sunday"):
        return "Sun"
print(abbre("Tuesday"))

Tu

# Q.3.39

In [36]:
def collision(x1,y1,r1,x2,y2,r2):
    if(math.sqrt((x1-x2)**2+(y1-y2)**2) > r1+r2):
        return False
    else:
        return True
print(collision(2,4,1,6,7,0))   
print(collision(3,4,1,3,3,1))

False
True

# Q.3.40

In [37]:
def partition(list):
    for name in list:
          if name[0] >= "A" and name[0] <= "M":
                print(name)
    return""           
print(partition(["Eleanor","Evelyn","Sammy","Owen","Gavin"]))

Eleanor
Evelyn
Gavin

# Q.3.41

In [38]:
def lastF(firstname,lastname):
    return lastname+", "+firstname[0]+"."
print(lastF("Albert","camus"))

camus, A.

# Q.3.42

In [43]:
def avg(lists):
    for list in lists:
        print(sum(list)/len(list))
    return''  
print(avg([[95,92,86,87],[66,54],[89],[89,72,100],[33,0,0]]))

90.0
60.0
89.0
87.0
11.0

# Q.3.43

In [44]:
import math
def hit(x1,y1,r,x2,y2):
    if(math.sqrt((x1-x2)**2+(y1-y2)**2) > r):
        return True
    else:
        return False
    return""
print(hit(0,0,3,3,0))
print(hit(0,0,3,4,0))

False
True

# Q.3.44

In [45]:
def distance(n):
    return n*340.29/1000
print(distance(3))

1.0208700000000002